<!DOCTYPE html>
<html>
	<head>
		<title>this is my first page for linux  html</title>
	</head>

	<body bgcolor="#fffff0">
		welcome to smart-car control page :) 

		<p>
		<font color="0000ff">SERVICE HOST:</font>
		<font color="8b008b">{{host_name}}</font> 
		</p>
		<p>
			<font>-----CONTROL------</font>
		</p>


		<style type="text/css">
		div{
			/*margin-left: 100px;*/

		}
		#father{
			
		}

		#left{
				margin-left: 30px;
		}
		#right{
			background-color: #099;
			margin-right: 
			margin-left:;

			width
			height


		}
		

		</style>

		<p>
		<font color="4b0082">STATE:</font>
		<font>{{answer}}</font>
		</p>

		<form  method='post'>
			{% csrf_token %}
			<!--{{form}}-->
			
			<input type ="submit" name="laomao" value="up" style="width:60px; height:40px; margin-left:65px;">
			<p></p>
			<input type ="submit" name="laomao" value="left" style="width:60px; height:40px;">
			<input type ="submit" name="laomao" value="stop" style="width:60px; height:40px;">
			<input type ="submit" name="laomao" value="right" style="width:60px; height:40px;">
			<p></p>
			<input type ="submit" name="laomao" value="down" style="width:60px; height:40px; margin-left:65px;">
		</form>
			

			
		
		
		
		

	</body>
</html>

